/* nav.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1e293b;
  color: #B8860B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar-title {
  /* Additional styling for title if needed */
}

.navbar-links a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.logout-button:hover {
  background-color: #c82333;
}
